<span *ngIf="!data">Loading...</span> <br>
<div class="legend" style="position: absolute;">
  <label class="title">Key:</label>
  <div>
    <img src="http://via.placeholder.com/50x50" alt="">
    <span>Work Manager</span>
  </div>
  <div>
    <img src="http://via.placeholder.com/50x50" alt="">
    Site Server
  </div>
  <div>
    <img src="http://via.placeholder.com/50x50" alt="">
    Agent
  </div>
  <div>
    <img src="http://via.placeholder.com/50x50" alt="">
    External Data Source (i.e. - SharePoint)
  </div>
</div>
<svg #healthStatusDiagram></svg>
